/* Estilos para página Portafolio Luis Contreras */

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales */
html{
    font-family: 'Inter', sans-serif;
    background-color:  rgb(162, 162, 162);
}

/*estilos del header*/
header {
    background-color: rgb(130, 130, 130);
    height: 120px;
    padding: 32px; 
}

header .titulos {
    list-style: none;
    color: rgb(153, 255, 22);
    font-size: 20px;
    font-weight: 400;
    width: 160px;
    height: 30px;
    margin: 8px;
    padding: 10px; 
    text-align: center;
}

header .caja {
    list-style: none;
    color: rgb(120, 241, 201);
    font-size: 16px;    
    font-weight: 300;
    width: 50px;
    height: 30px;
    margin: 8px;
    padding: 10px;
    display: inline;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/*estilos del main*/

main {
    background-color:  rgb(162, 162, 162);
    margin: 5x;
    height: 100%;
}


/*h2*/
main .subtitulos {
    display: inline;
    color: rgb( 114, 153, 255);
    font-size: 26px;    
    font-weight: 300;
    border: 50px;
    padding: 5px 10px;
    
}

main .bloqueuno {
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 20px;    
    font-weight: 200;
    padding: 5px 10px;
    border: 50px;

}

/*Propiedades del Footer*/

footer {
    background-color: rgb(130, 130, 130);
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 80px;
    padding: 8px 12px;
}

    /*propiedades del contenedor HOME */

    .contenedor_uno_home {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        /* dirección de los hijos, flex direction, viene preestablecida en row*/
        flex-direction: row;
        /* separar columnas y filas*/
        gap: 0px;
        /*propiedad pasra que los hijos colapsen*/
        flex-wrap: wrap;
        /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
        /* propiedades para alinear en eje vertical y horizontal*/
        justify-content: center;
        /*align-items: center;*/
    }

    /* estilos de los hijos */
    .hijos_uno_home {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/diseno_uno.jpg);
        margin: 0px;
         
    }
    
    .hijos_dos_home {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/arte.jpg);
        margin: 0px;
        
    }

    .textos {
        list-style: none;
    }

     /*propiedades del contenedor DISEÑO */

     .contenedor_uno_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        /* dirección de los hijos, flex direction, viene preestablecida en row*/
        flex-direction: row;
        /* separar columnas y filas*/
        gap: 0px;
        /*propiedad pasra que los hijos colapsen*/
        flex-wrap: wrap;
        /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
        /* propiedades para alinear en eje vertical y horizontal*/
        justify-content: center;
        /*align-items: center;*/
    }

    /* estilos de los hijos */
    .hijos_uno_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/fureru_app.jpg);
        margin: 0px;
         
    }
    
    .hijos_dos_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/wikipedia.jpg);
        margin: 0px; 
    }

    .contenedor_dos_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        /* dirección de los hijos, flex direction, viene preestablecida en row*/
        flex-direction: row;
        /* separar columnas y filas*/
        gap: 0px;
        /*propiedad pasra que los hijos colapsen*/
        flex-wrap: wrap;
        /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
        /* propiedades para alinear en eje vertical y horizontal*/
        justify-content: center;
        /*align-items: center;*/
    }


    .hijos_tres_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/momento_yogurt.jpg);
        margin: 0px; 
    }
    
    .hijos_cuatro_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/uber_recycler.jpg);
        margin: 0px;
    }

    .contenedor_tres_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        /* dirección de los hijos, flex direction, viene preestablecida en row*/
        flex-direction: row;
        /* separar columnas y filas*/
        gap: 0px;
        /*propiedad pasra que los hijos colapsen*/
        flex-wrap: wrap;
        /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
        /* propiedades para alinear en eje vertical y horizontal*/
        justify-content: center;
        /*align-items: center;*/
    }


    .hijos_cinco_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/banco_agrario.jpg);
        margin: 0px; 
    }
    
    .hijos_seis_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        /*background-color: aqua;*/
        background-image: url(../img/wespu.jpg);
        margin: 0px;
    }

    .textos_diseno {
        list-style: none;
        color: white;
    }

         /*propiedades del contenedor ARTE */

         .contenedor_uno_arte {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            /* dirección de los hijos, flex direction, viene preestablecida en row*/
            flex-direction: row;
            /* separar columnas y filas*/
            gap: 0px;
            /*propiedad pasra que los hijos colapsen*/
            flex-wrap: wrap;
            /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
            /* propiedades para alinear en eje vertical y horizontal*/
            justify-content: center;
            /*align-items: center;*/
        }
    
        /* estilos de los hijos */
        .hijos_uno_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            /*background-color: aqua;*/
            background-image: url(../img/emociones_abstractas.jpg);
            margin: 0px; 
        }
        
        .hijos_dos_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            /*background-color: aqua;*/
            background-image: url(../img/universidades_venezuela.jpg);
            margin: 0px;
        }
    
        .hijos_tres_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            /*background-color: aqua;*/
            background-image: url(../img/oleo_uno.jpg);
            margin: 0px;
        }
        
        .hijos_cuatro_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            /*background-color: aqua;*/
            background-image: url(../img/oleo_dos.jpg);
            margin: 0px;
        }

        .textos_arte {
            list-style: none;
            color: blueviolet;
        }

             /*propiedades del contenedor SOBRE MI */

             .contenedor_uno_sobremi {
                height: 100%;
                background-color:  rgb(162, 162, 162);
                display: flex;
                /* dirección de los hijos, flex direction, viene preestablecida en row*/
                flex-direction: row;
                /* separar columnas y filas*/
                gap: 0px;
                /*propiedad pasra que los hijos colapsen*/
                flex-wrap: wrap;
                /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
                /* propiedades para alinear en eje vertical y horizontal*/
                justify-content: center;
                /*align-items: center;*/
            }
        
            /* estilos de los hijos */
            .hijos_uno_sobremi {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 430px;
                height: 532px;
                /*background-color: aqua;*/
                background-image: url(../img/sobreMi.jpg);
                margin: 0px;    
            }
            
            .hijos_dos_sobremi {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 660px;
                height: 532px;
                background-color:rgb(162, 162, 162);
                margin: 0px;
            }
        
            .textos_sobremi {
                list-style: none;
                color: rgb(0, 0, 0);
            }

            /*propiedades del contenedor SERVICIOS PROFESIONALES */

            .contenedor_uno_servicios {
                height: 100%;
                background-color:  rgb(162, 162, 162);
                display: flex;
                /* dirección de los hijos, flex direction, viene preestablecida en row*/
                flex-direction: row;
                /* separar columnas y filas*/
                gap: 0px;
                /*propiedad pasra que los hijos colapsen*/
                flex-wrap: wrap;
                /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
                /* propiedades para alinear en eje vertical y horizontal*/
                justify-content: center;
                /*align-items: center;*/
            }
        

            /* estilos de los hijos */
            .hijos_uno_servicios {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 430px;
                height: 532px;
                background-image: url(../img/servicios.jpg);
                margin: 0px; 
            }
            
            .hijos_dos_servicios {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 60%;
                height: 150px;
                background-color:rgb(162, 162, 162);
                margin: 0px;
            }
        
            .textos_servicios {
                list-style: none;
                color: rgb(0, 0, 0);
                text-align: inherit;
            }

            /*propiedades del contenedor CONTACTO */

            .contenedor_uno_contacto {
                height: 100%;
                background-color:  rgb(162, 162, 162);
                display: flex;
                /* dirección de los hijos, flex direction, viene preestablecida en row*/
                flex-direction: row;
                /* separar columnas y filas*/
                gap: 0px;
                /*propiedad pasra que los hijos colapsen*/
                flex-wrap: wrap;
                /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
                /* propiedades para alinear en eje vertical y horizontal*/
                justify-content: center;
                /*align-items: center;*/
            }
        
            /* estilos de los hijos */
            .hijos_uno_contacto {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 430px;
                height: 532px;
                /*background-color: aqua;*/
                background-image: url(../img/contacto.jpg);
                margin: 0px; 
            }
            
            .hijos_dos_contacto {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 660px;
                height: 250px;
                background-color:rgb(162, 162, 162);
                margin: 0px;
            }

            .contenedor_dos_contacto {
                height: 100%;
                background-color:  rgb(162, 162, 162);
                display: flex;
                /* dirección de los hijos, flex direction, viene preestablecida en row*/
                flex-direction: row;
                /* separar columnas y filas*/
                gap: 0px;
                /*propiedad pasra que los hijos colapsen*/
                flex-wrap: wrap;
                /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
                /* propiedades para alinear en eje vertical y horizontal*/
                justify-content: center;
                /*align-items: center;*/
            }

            .contenedor_tres_contacto {
                height: 100%;
                background-color:  rgb(162, 162, 162);
                display: flex;
                /* dirección de los hijos, flex direction, viene preestablecida en row*/ 
                flex-direction: row;
                /* separar columnas y filas*/
                gap: 0px;
                /*propiedad pasra que los hijos colapsen*/
                flex-wrap: wrap;
                /* propiedad para configurar de una vez el flow y el colapse flex-flow: row wrap; */
                /* propiedades para alinear en eje vertical y horizontal*/
                justify-content: center;
                /*align-items: center;*/
            }

            .textos_contacto {
                list-style: none;
                color: rgb(0, 0, 0);
            }

            /* estilos de los hijos */

             .hijos_tres_contacto {
                font-size: 20px;    
                font-weight: 200;
                color: rgb(0, 0, 0);
                width: 540px;
                height: 100px;
                background-color:  rgb(162, 162, 162);
                margin: 0px; 
            }

            .titlulo_formulario {
                width: 200px;
                height: 10px;
                margin: 30px 140px;
            }
