/* Estilos para página Portafolio Luis G Contreras */

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales */
html {
    font-family: 'Inter', sans-serif;
    background-color:  rgb(162, 162, 162);
}

/*estilos del main*/

body {
    background-color:  rgb(162, 162, 162);
    height: 100%;
    width: 100%;
}

.subtitulos {
    width: 50%;
    height: 60px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 18px;    
    font-weight: 300;
    border: 50px;
    margin: 30px 30px;
}

.subtitulos2 {
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-weight: 600;
    border: 30px;
    padding: 20px 20px;
}

main .bloqueuno {
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 20px;    
    font-weight: 200;
    padding: 5px 10px;
    border: 50px;
}

/*propiedades del contenedor HOME */

    .contenedor_uno_home {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        flex-direction: row;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* estilos de los hijos */
    .hijos_uno_home {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/diseno_uno.jpg);
        margin: 0px;
    }
    
    .hijos_dos_home {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/arte.jpg);
        margin: 0px;
    }

    .textos {
        list-style: none;
        text-align: inherit;
        font-weight: 200;
        border: 50px;
        padding: 10px 10px;
        font-size: 20px;
    }

     /*propiedades del contenedor DISEÑO */

     .contenedor_uno_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        flex-direction: row;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* estilos de los hijos */
    .hijos_uno_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/fureru_app.jpg);
        margin: 0px;  
    }
    
    .hijos_dos_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/wikipedia.jpg);
        margin: 0px; 
    }

    .contenedor_dos_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        flex-direction: row;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hijos_tres_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/momento_yogurt.jpg);
        margin: 0px; 
    }
    
    .hijos_cuatro_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/uber_recycler.jpg);
        margin: 0px;
    }

    .contenedor_tres_diseno {
        height: 100%;
        background-color:  rgb(162, 162, 162);
        display: flex;
        flex-direction: row;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hijos_cinco_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/banco_agrario.jpg);
        margin: 0px; 
    }
    
    .hijos_seis_diseno {
        font-size: 20px;    
        font-weight: 200;
        color: rgb(0, 0, 0);
        width: 660px;
        height: 532px;
        background-image: url(../img/wespu.jpg);
        margin: 0px;
    }

    .textos_diseno {
        list-style: none;
        color: white;
    }

    /*propiedades del contenedor ARTE */

         .contenedor_uno_arte {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 0px;
            flex-wrap: wrap;
        }
    
        /* estilos de los hijos */
        .hijos_uno_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            background-image: url(../img/emociones_abstractas.jpg);
            margin: 0px; 
        }
        
        .hijos_dos_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            background-image: url(../img/universidades_venezuela.jpg);
            margin: 0px;
        }
    
        .hijos_tres_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            background-image: url(../img/oleo_uno.jpg);
            margin: 0px;
        }
        
        .hijos_cuatro_arte {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 532px;
            background-image: url(../img/oleo_dos.jpg);
            margin: 0px;
        }

        .textos_arte {
            list-style: none;
            color: rgb(90, 115, 185);
        }

         /*propiedades del contenedor SOBRE MI */
         .contenedor_uno_sobremi {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            justify-content:first baseline;
            align-items: center;
        }
        
        /* estilos de los hijos */
        .hijos_uno_sobremi {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 430px;
            height: 532px;
            background-image: url(../img/sobreMi.jpg);
            margin: 0px;    
        }
        
        .hijos_dos_sobremi {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 600px;
            height: 350px;
            background-color:rgb(162, 162, 162);
            margin: 0px;
        }
        
        .textos_sobremi {
            list-style: none;
            color: rgb(0, 0, 0);
            text-align: inherit;
        }

    /*propiedades del contenedor SERVICIOS PROFESIONALES */

        .contenedor_uno_servicios {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            justify-content:first baseline;
            align-items: center;
        }
        

        /* estilos de los hijos */
        .hijos_uno_servicios {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 430px;
            height: 532px;
            background-image: url(../img/servicios.jpg);
            margin: 0px; 
        }
            
        .hijos_dos_servicios {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 600px;
            height: 350px;
            background-color:rgb(162, 162, 162);
            margin: 0px;
        }
    
        .textos_servicios {
            list-style: none;
            color: rgb(0, 0, 0);
            text-align: inherit;
        }

    /*propiedades del contenedor CONTACTO */

        .contenedor_uno_contacto {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            justify-content:first baseline;
            align-items: center;
        }
        
        /* estilos de los hijos */
        .hijos_uno_contacto {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 430px;
            height: 532px;
            background-image: url(../img/contacto.jpg);
            margin: 0px; 
        }
        
        .hijos_dos_contacto {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 660px;
            height: 400px;
            background-color:rgb(162, 162, 162);
            margin: 0px;
        }
        .contenedor_dos_contacto {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .contenedor_tres_contacto {
            height: 100%;
            background-color:  rgb(162, 162, 162);
            display: flex;
            flex-direction: row;
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .textos_contacto {
            list-style: none;
            color: rgb(0, 0, 0);
            text-align: inherit;
        }
        
        /* estilos de los hijos */

         .hijos_tres_contacto {
            font-size: 20px;    
            font-weight: 200;
            color: rgb(0, 0, 0);
            width: 45%;
            height: 150px;
        }
        .titlulo_formulario {
            font-size: 20px;
            width: 200px;
            height: 35px;
            margin: 20px 140px;
            text-align: center;
        }
        
        /*Estilos del Footer*/

        footer {
            height: 180px;
            padding: 12px 12px;
            padding: 0px 0px 35px 0px;
        }

        /*contenedor padre*/
        .contenedor_footer {
            background-color: #212529;

            font-size: 10px;
            display: flex;
            flex-direction: row;
            gap: 5%;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        
        }
        /*hijos*/

        .elementoUno_footer {
            font-size: 16px;    
            font-weight: 300;
            color: rgb(255, 255, 255);
            width: 330px;
            height: 50px;
        }

        .elementoDos_footer {
            color: rgb(255, 255, 255);
            width: 60px;
            height: 25px;
        }

        .elementoTres_footer {   
            color: rgb(255, 255, 255);
            width: 85px;
            height: 16px; 
            font-size: 16px;    
            font-weight: 300;
        }
        