@charset "UTF-8";
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor_dos_contacto .hijos_tres_contacto, .contenedor_dos_contacto .titulo_formulario {
  font-size: 20px;
  font-weight: 200; }

/*Estilos*/
/*Los estilos del Header son importados de bootstrap*/
/*Estilos generales*/
body {
  background-color: #a2a2a2;
  height: 100%;
  width: 100%; }
  body .subtitulos {
    width: 50%;
    height: 60px;
    text-align: justify;
    color: #3e3e4b;
    font-size: 18px;
    font-weight: 300;
    border: 50px;
    margin: 30px 30px;
    font-family: 'Inter', sans-serif; }
  body .subtitulos2 {
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-weight: 600;
    border: 30px;
    padding: 20px 20px;
    font-family: 'Inter', sans-serif; }
  body main .bloqueuno {
    display: inline;
    color: #3e3e4b;
    font-size: 20px;
    font-weight: 200;
    padding: 5px 10px;
    border: 50px;
    font-family: 'Inter', sans-serif; }
  body .navbar {
    font-family: 'Inter', sans-serif; }

/*Estilos Footer*/
footer {
  height: 170px;
  padding: 12px 12px;
  padding: 0px 0px 35px 0px;
  font-family: 'Inter', sans-serif; }

.contenedor_footer {
  background-color: #212529;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }
  .contenedor_footer .elementoUno_footer {
    font-size: 16px;
    font-weight: 300;
    color: white;
    width: 330px;
    height: 50px; }
  .contenedor_footer .elementoDos_footer {
    font-size: 16px;
    color: white;
    width: 60px;
    height: 25px; }
  .contenedor_footer .elementoTres_footer {
    color: white;
    width: 85px;
    height: 16px;
    font-size: 16px;
    font-weight: 300; }

/*Etilos page Home*/
.contenedor_uno_home {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center;
  /* estilos de los hijos */ }
  .contenedor_uno_home .hijos_uno_home {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/diseno_uno.jpg);
    margin: 0px; }
  .contenedor_uno_home .hijos_dos_home {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/arte.jpg);
    margin: 0px; }
  .contenedor_uno_home .textos {
    list-style: none;
    text-align: inherit;
    font-weight: 300;
    border: 50px;
    padding: 10px 10px;
    font-size: 25px; }

/*Etilos page DISEÑO*/
.contenedor_uno_diseno {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor_uno_diseno .hijos_uno_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/fureru_app.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .hijos_dos_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/wikipedia.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .hijos_tres_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/momento_yogurt.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .hijos_cuatro_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/uber_recycler.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .hijos_cinco_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/banco_agrario.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .hijos_seis_diseno {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/wespu.jpg);
    margin: 0px; }
  .contenedor_uno_diseno .textos_diseno {
    list-style: none;
    color: #121113;
    font-size: 25px; }

/*Estilos page ARTE*/
.contenedor_uno_arte {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor_uno_arte .hijos_uno_arte {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/emociones_abstractas.jpg);
    margin: 0px; }
  .contenedor_uno_arte .hijos_dos_arte {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/universidades_venezuela.jpg);
    margin: 0px; }
  .contenedor_uno_arte .hijos_tres_arte {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/oleo_uno.jpg);
    margin: 0px; }
  .contenedor_uno_arte .hijos_cuatro_arte {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 532px;
    background-image: url(../img/oleo_dos.jpg);
    margin: 0px; }
  .contenedor_uno_arte .textos_arte {
    list-style: none;
    color: #121113;
    font-size: 25px; }

/*Estilos page SOBRE MI*/
.contenedor_uno_sobremi {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: center; }
  .contenedor_uno_sobremi .hijos_uno_sobremi {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 430px;
    height: 532px;
    background-image: url(../img/sobreMi.jpg);
    margin: 0px; }
  .contenedor_uno_sobremi .hijos_dos_sobremi {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 600px;
    height: 350px;
    background-image: #a2a2a2;
    margin: 0px; }
  .contenedor_uno_sobremi .textos_sobremi {
    list-style: none;
    color: #121113;
    text-align: inherit;
    font-size: 25px; }

/*Estilos page SERVICIOS PROFESIONALES*/
.contenedor_uno_servicios {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: center; }
  .contenedor_uno_servicios .hijos_uno_servicios {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 430px;
    height: 532px;
    background-image: url(../img/servicios.jpg);
    margin: 0px; }
  .contenedor_uno_servicios .hijos_dos_servicios {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 600px;
    height: 350px;
    background-image: #a2a2a2;
    margin: 0px; }
  .contenedor_uno_servicios .textos_servicios {
    list-style: none;
    color: #121113;
    text-align: inherit;
    font-size: 25px; }

/*Estilos page CONTACTO*/
.contenedor_uno_contacto {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: center; }
  .contenedor_uno_contacto .hijos_uno_contacto {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 430px;
    height: 532px;
    background-image: url(../img/contacto.jpg);
    margin: 0px; }
  .contenedor_uno_contacto .hijos_dos_contacto {
    font-size: 20px;
    font-weight: 200;
    color: #121113;
    width: 660px;
    height: 400px;
    background-image: #a2a2a2;
    margin: 0px; }

.contenedor_dos_contacto {
  height: 100%;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .contenedor_dos_contacto .textos_contacto {
    list-style: none;
    color: #121113;
    text-align: inherit;
    font-size: 25px; }
  .contenedor_dos_contacto .hijos_tres_contacto {
    color: #121113;
    width: 45%;
    height: 150px; }
  .contenedor_dos_contacto .titulo_formulario {
    width: 200px;
    height: 35px;
    margin: 20px 140px;
    text-align: center;
    font-size: 35px; }
