//Documento principal SASS//

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Archivos secundarios sass//
@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";

/*Estilos*/
/*Los estilos del Header son importados de bootstrap*/

/*Estilos generales*/
body {
        background-color: $color-fondo;
        height: 100%;
        width: 100%;
    .subtitulos {
        width: 50%;
        height: 60px;
        text-align: justify;
        color: $color-subtitulos;
        font-size: 18px;    
        font-weight: 300;
        border: 50px;
        margin: 30px 30px;
    }
    .subtitulos2 {
        width: 100%;
        height: 100px;
        font-size: 25px;
        font-weight: 600;
        border: 30px;
        padding: 20px 20px;
    }
    main .bloqueuno {
        display: inline;
        color: $color-subtitulos;
        font-size: 20px;    
        font-weight: 200;
        padding: 5px 10px;
        border: 50px;
    }
}

/*Estilos Footer*/

footer{
    height: 170px;
    padding: 12px 12px;
    padding: 0px 0px 35px 0px;
}
.contenedor_footer {
       background-color: $color-hf;
       font-size: 10px;
       display: flex;
       flex-direction: row;
       gap: 5%;
       flex-wrap: wrap;
       align-content: center;
       justify-content: center;
       .elementoUno_footer {
           font-size: 16px;    
           font-weight: 300;
           color: $color-textoclaro;
           width: 330px;
           height: 50px;
       }
       .elementoDos_footer {
           color: $color-textoclaro;
           width: 60px;
           height: 25px;
       }
       .elementoTres_footer {   
           color: $color-textoclaro;
           width: 85px;
           height: 16px; 
           font-size: 16px;    
           font-weight: 300;
       }
}
/*Etilos page Home*/


.contenedor_uno_home {
    @include contenedores(100%, $color-fondo, flex, row, 0px, wrap, center);

   /* estilos de los hijos */
   .hijos_uno_home {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/diseno_uno.jpg), 0px); 
   }

   .hijos_dos_home {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/arte.jpg), 0px); 
   }

   .textos {
       list-style: none;
       text-align: inherit;
       font-weight: 200;
       border: 50px;
       padding: 10px 10px;
       font-size: 20px;
   }
}

/*Etilos page DISEÑO*/

.contenedor_uno_diseno {
    @include contenedores(100%, $color-fondo, flex, row, 0px, wrap, center);
   
    .hijos_uno_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/fureru_app.jpg), 0px); 
   }  
   .hijos_dos_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/wikipedia.jpg), 0px); 
   }
   .hijos_tres_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/momento_yogurt.jpg), 0px);
   }
   .hijos_cuatro_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/uber_recycler.jpg), 0px); 
   }
   .hijos_cinco_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/banco_agrario.jpg), 0px); 
   }
   .hijos_seis_diseno {
    @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/wespu.jpg), 0px) 
   }
   .textos_diseno {
       list-style: none;
       color: $color-portafolio;
   }
}

/*Estilos page ARTE*/
.contenedor_uno_arte {
    @include contenedores(100%, $color-fondo, flex, row, 0px, wrap, center);

    .hijos_uno_arte {
        @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/emociones_abstractas.jpg), 0px); 
    }
    .hijos_dos_arte {
        @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/universidades_venezuela.jpg), 0px); 
    }
    .hijos_tres_arte {
        @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/oleo_uno.jpg), 0px); 
    }
    .hijos_cuatro_arte {
        @include hijos (20px, 200, $color-portafolio, 660px, 532px, url(../img/oleo_dos.jpg), 0px); 
    }
    .textos_arte {
        list-style: none;
        color: $color-portafolio;
    }

}


/*Estilos page SOBRE MI*/
.contenedor_uno_sobremi {
    @include contenedores(100%, $color-fondo, flex, row, 40px, wrap, first baseline);
    align-items: center;
    .hijos_uno_sobremi {
        @include hijos (20px, 200, $color-portafolio, 430px, 532px, url(../img/sobreMi.jpg), 0px);    
    }
    .hijos_dos_sobremi {
        @include hijos (20px, 200, $color-portafolio, 600px, 350px, $color-fondo, 0px); 
    }
    .textos_sobremi {
        list-style: none;
        color: $color-portafolio;
        text-align: inherit;
    }
}

/*Estilos page SERVICIOS PROFESIONALES*/
.contenedor_uno_servicios {
    @include contenedores(100%, $color-fondo, flex, row, 40px, wrap, first baseline);
    align-items: center;
    .hijos_uno_servicios {
        @include hijos (20px, 200, $color-portafolio, 430px, 532px, url(../img/servicios.jpg), 0px);
    }  
    .hijos_dos_servicios {
        @include hijos (20px, 200, $color-portafolio, 600px, 350px, $color-fondo, 0px);
    }
    .textos_servicios {
        list-style: none;
        color: $color-portafolio;
        text-align: inherit;
    }
}

/*Estilos page CONTACTO*/
.contenedor_uno_contacto {
    @include contenedores(100%, $color-fondo, flex, row, 40px, wrap, first baseline);
    align-items: center;
    .hijos_uno_contacto {
        @include hijos (20px, 200, $color-portafolio, 430px, 532px, url(../img/contacto.jpg), 0px);
    }
    .hijos_dos_contacto {
        @include hijos (20px, 200, $color-portafolio, 660px, 400px, $color-fondo, 0px);
    }
}

.contenedor_dos_contacto {
    @include contenedores(100%, $color-fondo, flex, row, 24px, wrap, center);
    align-items: center;
    .textos_contacto {
        list-style: none;
        color: $color-portafolio;
        text-align: inherit;
    }
    .hijos_tres_contacto {
        @extend %formulario;
        color: $color-portafolio;
        width: 45%;
        height: 150px;
    }
    .titlulo_formulario {
        @extend %formulario;;
        width: 200px;
        height: 35px;
        margin: 20px 140px;
        text-align: center;
        }
}

