// Variables //

//Paleta de colores//
$color-fondo: rgb(162, 162, 162);
$color-hf: #212529;
$color-subtitulos: rgb(62, 62, 75);
$color-textoclaro: rgb(255, 255, 255);
$color-portafolio: rgb(18, 17, 19);